# python specific
*.pyc
__pycache__
.idea/
venv/

# generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*/Thumbs.db

# generated html files
[0-9]*.html

# external library
coding-js

# functional testing
tests/geckodriver
tests/geckodriver.log
tests/chromedriver
tests/chromedriver.log